@model FacturacionSAT.CSL.WEB.Models.CFDIDatosConceptosModels

@{
    ViewBag.Title = "Crear";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
    </div>
    <div class="col-md-12">
        @{ Html.EnableClientValidation(false); }
        @*<form class="form-horizontal">*@
        @using (Html.BeginForm("Crear", "CFDIDatosConceptos", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
            <div id="validation_summary" class="field_error "></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Nuevo</strong> Concepto Datos</h3>
                    <ul class="panel-controls">
                        @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                    </ul>
                </div>
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12 control-label text-left">Clave Producto</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    @Html.TextBoxFor(model => model.Id_cfdiClaveProdServDetalle, new { id = "id_cfdiDatosConceptos", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Id_cfdiClaveProdServDetalle)
                                </div>
                                <span class="help-block">Ingrese una clave de producto</span>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12 control-label text-left">Clave unidad</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    @Html.TextBoxFor(model => model.Id_cfdiClaveUnidad, new { id = "id_cfdiDatosConceptos", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Id_cfdiClaveUnidad)
                                </div>
                                <span class="help-block">Ingrese una clave de unidad</span>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 control-label"><span>* </span> Tipo producto</label>
                            <div class="col-md-12 col-xs-12">
                                @Html.DropDownListFor(model => model.Id_cfdiTipoProducto, new SelectList(Model.ListaTipoProducto, "Id_cfdiTipoProducto", "TipoProducto"), new { id = "Id_cfdiTipoProducto", @class = "form-control select", data_live_search = "true" })
                                @Html.ValidationMessageFor(model => model.Id_cfdiTipoProducto)
                                <span class="help-block">Seleccione un tipo producto</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 control-label"><span>* </span> CFDIDivicion</label>
                            <div class="col-md-12 col-xs-12">
                                @Html.DropDownListFor(model => model.Id_cfdiDivision, new SelectList(Model.ListaDivicion, "Id_cfdiDivision", "Division"), new { id = "Id_cfdiDivision", @class = "form-control select", data_live_search = "true" })
                                @Html.ValidationMessageFor(model => model.Id_cfdiDivision)
                                <span class="help-block">Seleccione una divicion</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label"><span>* </span> CFDIClase</label>
                        <div class="col-md-6 col-xs-12">
                            @Html.DropDownListFor(model => model.Id_cfdiClase, new SelectList(Model.ListaClase, "Id_CfdiClase", "clase"), new { id = "Id_CfdiClase", @class = "form-control select", data_live_search = "true" })
                            @Html.ValidationMessageFor(model => model.Id_cfdiClase)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 control-label"><span>* </span> cfdiGrupo</label>
                            <div class="col-md-12 col-xs-12">
                                @Html.DropDownListFor(model => model.Id_cfdiGrupo, new SelectList(Model.ListaGrupo, "Id_cfdiGrupo", "Grupo"), new { id = "Id_cfdiGrupo", @class = "form-control select", data_live_search = "true" })
                                @Html.ValidationMessageFor(model => model.Id_cfdiGrupo)
                                <span class="help-block">Seleccione un grupo</span>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 control-label text-center">Descripcion</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    @*@*<input type="text" class="form-control" />*@
                                    @Html.TextBoxFor(model => model.Descripcion, new { id = "Descripcion", @class = "form-control" })
                                </div>
                                @*@Html.ValidationMessageFor(model => model.Descripcion)*@
                                <span class="help-block">Ingrese una Descripcion</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="panel-footer">
                <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                <a href="@Url.Action("Index","CFDIDatosConceptos")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
            </div>

            @*</form>*@
        }
    </div>

    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/Usuario.js")"></script>*@
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            //Usuario.init();
        });
    </script>
}
