@model FacturacionSAT.CSL.WEB.Models.CFDIDatosConceptosModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="@Url.Content("~/Content/js/plugins/select.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
    <style>
        .form-control[disabled],
        .form-control[readonly] {
            color: #000 !important;
        }
    </style>
}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
    </div>
    <div class="col-md-12">
        @{ Html.EnableClientValidation(false); }
        @*<form class="form-horizontal">*@
        @using (Html.BeginForm("Edit", "CFDIDatosConceptos", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id_cfdiDatosConceptos)
            @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
            <div id="validation_summary" class="field_error "></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Edite</strong> Concepto Datos</h3>
                    <ul class="panel-controls">
                        @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                    </ul>
                </div>
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">Clave producto</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.CFDI_Claveproducto.Descripcion, "", new { @class = "form-control", @readonly = "true" })
                                    @Html.HiddenFor(m => m.CFDI_Claveproducto.Id_cfdiClaveProdServDetalle)
                                    <span class="input-group-btn">
                                        <button id="btnClaveProducto" class="btn btn-default" type="button">Seleccionar</button>
                                    </span>
                                    <span class="help-block">Seleccione una clave producto</span>
                                    @Html.ValidationMessageFor(model => model.CFDI_Claveproducto.Id_cfdiClaveProdServDetalle)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">Clave Unidad</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.CFDI_ClaveUnidad.Nombre, "", new { @class = "form-control", @readonly = "true" })
                                    @Html.HiddenFor(m => m.CFDI_ClaveUnidad.Id_cfdiClaveUnidadDetalle)
                                    <span class="input-group-btn">
                                        <button id="btnClaveUnidad" class="btn btn-default" type="button">Seleccionar</button>
                                    </span>
                                    <span class="help-block">Seleccione una clave unidad</span>
                                    @Html.ValidationMessageFor(model => model.CFDI_ClaveUnidad.Id_cfdiClaveUnidadDetalle)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">CFDI Tipo Producto</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.CFDI_TipoProducto.TipoProducto, "", new { @class = "form-control", @readonly = "true" })
                                    @Html.HiddenFor(m => m.CFDI_TipoProducto.Id_cfdiTipoProducto)
                                    <span class="input-group-btn">
                                        <button id="btnTipoProducto" class="btn btn-default" type="button">Seleccionar</button>
                                    </span>
                                    <span class="help-block">Seleccione un tipo producto</span>
                                    @Html.ValidationMessageFor(model => model.CFDI_TipoProducto.Id_cfdiTipoProducto)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">CFDI Division</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.CFDI_ClaveDivision.Division, "", new { @class = "form-control", @readonly = "true" })
                                    @Html.HiddenFor(m => m.CFDI_ClaveDivision.Id_cfdiDivision)
                                    <span class="input-group-btn">
                                        <button id="btnClaveDivision" class="btn btn-default" type="button">Seleccionar</button>
                                    </span>
                                    <span class="help-block">Seleccione una division</span>
                                    @Html.ValidationMessageFor(model => model.CFDI_ClaveDivision.Id_cfdiDivision)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">CFDI Grupo</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.CFDI_Grupo.Grupo, "", new { @class = "form-control", @readonly = "true" })
                                    @Html.HiddenFor(m => m.CFDI_Grupo.Id_cfdiGrupo)
                                    <span class="input-group-btn">
                                        <button id="btnClaveGrupo" class="btn btn-default" type="button">Seleccionar</button>
                                    </span>
                                    <span class="help-block">Seleccione un grupo</span>
                                    @Html.ValidationMessageFor(model => model.CFDI_Grupo.Id_cfdiGrupo)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">CFDI Clase</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.CFDI_Clase.clase, "", new { @class = "form-control", @readonly = "true" })
                                    @Html.HiddenFor(m => m.CFDI_Clase.Id_CfdiClase)
                                    <span class="input-group-btn">
                                        <button id="btnClaveClase" class="btn btn-default" type="button">Seleccionar</button>
                                    </span>
                                    <span class="help-block">Seleccione una clase</span>
                                    @Html.ValidationMessageFor(model => model.CFDI_Clase.Id_CfdiClase)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label text-center">Descripcion</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.Descripcion, new { id = "Descripcion", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Descripcion)
                                    <span class="help-block">Ingrese una descripcion</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label"><strong>¿Es Predeterminado?</strong></label>
                                <div class="text-center col-md-9">
                                    @Html.CheckBoxFor(model => model.Predeterminado)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                <a href="@Url.Action("Index","CFDIDatosConceptos")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
            </div>

            @*</form>*@
        }
    </div>

    <div id="ModalClaveUnidad" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModalClaveUnidad">

        </div>
    </div>

    <div id="ModalClaveProducto" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModalClaveProducto">

        </div>
    </div>

    <div id="ModalTipoProducto" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModalTipoProducto">

        </div>
    </div>
    <div id="ModalClaveDivision" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoClaveDivision">

        </div>
    </div>

    <div id="ModalClaveGrupo" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoClaveGrupo">

        </div>
    </div>
    <div id="ModalClaveClase" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoClaveClase">

        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/ConceptoDatos.js")"></script>

    @*<script type="text/javascript" src="@Url.Content("~/Content/js/Usuario.js")"></script>*@

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            ConceptoDatos.init();
            //Modal
            $('#btnClaveUnidad').on('click', function () {
                $("body").css("cursor", "progress");
                //var Id_cfdiClaveUnidadDetalle = document.getElementById("CFDI_ClaveUnidad_Id_cfdiClaveUnidadDetalle").value;

                $.ajax({
                    url: "@Url.Content("~/Admin/CFDIDatosConceptos/ModalClaveUnidad")",
                    type: "POST",
                    success: function (data) {
                        $("body").css("cursor", "default");
                        $('#ContenidoModalClaveUnidad').html(data);
                        $('#ModalClaveUnidad').modal({ backdrop: 'static', keyboard: false });

                        var dtClaveUnidad = $('#dtClaveUnidad').DataTable({
                            language: {
                                "url": "@Url.Content("~/Content/json/Spanish.json")"
                            },
                            processing: true,
                            serverSide: true,
                            ordering: false,
                            columnDefs: [
                                {
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false
                                }
                            ],
                            ajax: {
                                type: "POST",
                                contentType: "application/json",
                                url: "@Url.Content("~/Admin/CFDIDatosConceptos/DataTableClaveUnidad") ",
                                data: function (d) {
                                    // note: d is created by datatable, the structure of d is the same with DataTableParameters model above
                                    //console.log(JSON.stringify(d));
                                    return JSON.stringify(d);
                                }
                            }
                        });

                        $('#dtClaveUnidad tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('selected')) {
                                $(this).removeClass('selected');
                            }
                            else {
                                dtClaveUnidad.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });

                        $('#btnGuardarClaveUnidad').click(function () {
                            $('#ModalClaveUnidad').modal('hide');

                            var row = dtClaveUnidad.row('.selected').data();

                            if (row != null)
                            {
                                var idClaveUnidad = row[0];
                                var nombreClave = row[1] + " " + row[2];

                                $("#CFDI_ClaveUnidad_Nombre").val(nombreClave);
                                $("#CFDI_ClaveUnidad_Id_cfdiClaveUnidadDetalle").val(idClaveUnidad);
                                $("#CFDI_ClaveUnidad_Nombre").blur();

                            }

                        });

                    }
                });
            });

            $('#btnClaveProducto').on('click', function () {
                $("body").css("cursor", "progress");
                //var id_tipo_proveedor = document.getElementById("Proveedor_IDTipoProveedor").value;

                $.ajax({
                    url: "@Url.Content("~/Admin/CFDIDatosConceptos/ModalClaveProducto")",
                    type: "POST",
                    success: function (data) {
                        $("body").css("cursor", "default");
                        $('#ContenidoModalClaveProducto').html(data);
                        $('#ModalClaveProducto').modal({ backdrop: 'static', keyboard: false });

                        var dtClaveProducto = $('#dtClaveProducto').DataTable({
                            language: {
                                "url": "@Url.Content("~/Content/json/Spanish.json")"
                            },
                            processing: true,
                            serverSide: true,
                            ordering: false,
                            columnDefs: [
                                {
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false
                                }
                            ],
                            ajax: {
                                type: "POST",
                                contentType: "application/json",
                                url: "@Url.Content("~/Admin/CFDIDatosConceptos/DataTableClaveProducto") ",
                                data: function (d) {
                                    // note: d is created by datatable, the structure of d is the same with DataTableParameters model above
                                    //console.log(JSON.stringify(d));
                                    return JSON.stringify(d);
                                }
                            }
                        });

                        $('#dtClaveProducto tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('selected')) {
                                $(this).removeClass('selected');
                            }
                            else {
                                dtClaveProducto.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });

                        $('#btnGuardarClaveProducto').click(function () {
                            $('#ModalClaveProducto').modal('hide');

                            var row = dtClaveProducto.row('.selected').data();

                            if (row != null)
                            {
                                var id = row[0];
                                var nombre = row[1] + " " + row[2];

                                $("#CFDI_Claveproducto_Descripcion").val(nombre);
                                $("#CFDI_Claveproducto_Id_cfdiClaveProdServDetalle").val(id);
                                $("#CFDI_Claveproducto_Descripcion").blur();

                            }

                        });

                    }
                });
            });
            //inicio de tipo producto
            $('#btnTipoProducto').on('click', function () {
                $("body").css("cursor", "progress");
                //var id_tipo_proveedor = document.getElementById("Proveedor_IDTipoProveedor").value;

                $.ajax({
                    url: "@Url.Content("~/Admin/CFDIDatosConceptos/ModalTipoProducto")",
                    type: "POST",
                    success: function (data) {
                        $("body").css("cursor", "default");
                        $('#ContenidoModalTipoProducto').html(data);
                        $('#ModalTipoProducto').modal({ backdrop: 'static', keyboard: false });

                        var dtTipoProducto = $('#dtTipoProducto').DataTable({
                            language: {
                                "url": "@Url.Content("~/Content/json/Spanish.json")"
                            },
                            processing: true,
                            serverSide: true,
                            ordering: false,
                            columnDefs: [
                                {
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false
                                }
                            ],
                            ajax: {
                                type: "POST",
                                contentType: "application/json",
                                url: "@Url.Content("~/Admin/CFDIDatosConceptos/DataTableTipoProducto") ",
                                data: function (d) {
                                    // note: d is created by datatable, the structure of d is the same with DataTableParameters model above
                                    //console.log(JSON.stringify(d));
                                    return JSON.stringify(d);
                                }
                            }
                        });

                        $('#dtTipoProducto tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('selected')) {
                                $(this).removeClass('selected');
                            }
                            else {
                                dtTipoProducto.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });

                        $('#btnGuardarTipoProducto').click(function () {
                            $('#ModalTipoProducto').modal('hide');

                            var row = dtTipoProducto.row('.selected').data();

                            if (row != null)
                            {
                                var id = row[0];
                                var nombre = row[1] + " " + row[2];

                                $("#CFDI_TipoProducto_TipoProducto").val(nombre);
                                $("#CFDI_TipoProducto_Id_cfdiTipoProducto").val(id);
                                $("#CFDI_TipoProducto_TipoProducto").blur();
                            }

                        });

                    }
                });
            });
            //fin de tipo producto

            //inicio Clave division
            $('#btnClaveDivision').on('click', function () {
                $("body").css("cursor", "progress");
                //var id_tipo_proveedor = document.getElementById("Proveedor_IDTipoProveedor").value;

                $.ajax({
                    url: "@Url.Content("~/Admin/CFDIDatosConceptos/ModalClaveDivision")",
                    type: "POST",
                    success: function (data) {
                        $("body").css("cursor", "default");
                        $('#ContenidoClaveDivision').html(data);
                        $('#ModalClaveDivision').modal({ backdrop: 'static', keyboard: false });

                        var dtClaveDivision = $('#dtClaveDivision').DataTable({
                            language: {
                                "url": "@Url.Content("~/Content/json/Spanish.json")"
                            },
                            processing: true,
                            serverSide: true,
                            ordering: false,
                            columnDefs: [
                                {
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false
                                }
                            ],
                            ajax: {
                                type: "POST",
                                contentType: "application/json",
                                url: "@Url.Content("~/Admin/CFDIDatosConceptos/DataTableClaveDivision") ",
                                data: function (d) {
                                    // note: d is created by datatable, the structure of d is the same with DataTableParameters model above
                                    //console.log(JSON.stringify(d));
                                    return JSON.stringify(d);
                                }
                            }
                        });

                        $('#dtClaveDivision tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('selected')) {
                                $(this).removeClass('selected');
                            }
                            else {
                                dtClaveDivision.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });

                        $('#btnGuardarClaveDivision').click(function () {
                            $('#ModalClaveDivision').modal('hide');

                            var row = dtClaveDivision.row('.selected').data();

                            if (row != null)
                            {
                                var id = row[0];
                                var nombre = row[1] + " " + row[2];

                                $("#CFDI_ClaveDivision_Division").val(nombre);
                                $("#CFDI_ClaveDivision_Id_cfdiDivision").val(id);
                                $("#CFDI_ClaveDivision_Division").blur();
                            }

                        });

                    }
                });
            });
            //find e tipo division

            //inicio Clave Grupo
            $('#btnClaveGrupo').on('click', function () {
                $("body").css("cursor", "progress");
                //var id_tipo_proveedor = document.getElementById("Proveedor_IDTipoProveedor").value;

                $.ajax({
                    url: "@Url.Content("~/Admin/CFDIDatosConceptos/ModalClaveGrupo")",
                    type: "POST",
                    success: function (data) {
                        $("body").css("cursor", "default");
                        $('#ContenidoClaveGrupo').html(data);
                        $('#ModalClaveGrupo').modal({ backdrop: 'static', keyboard: false });

                        var dtClaveGrupo = $('#dtClaveGrupo').DataTable({
                            language: {
                                "url": "@Url.Content("~/Content/json/Spanish.json")"
                            },
                            processing: true,
                            serverSide: true,
                            ordering: false,
                            columnDefs: [
                                {
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false
                                }
                            ],
                            ajax: {
                                type: "POST",
                                contentType: "application/json",
                                url: "@Url.Content("~/Admin/CFDIDatosConceptos/DataTableClaveGrupo") ",
                                data: function (d) {
                                    // note: d is created by datatable, the structure of d is the same with DataTableParameters model above
                                    //console.log(JSON.stringify(d));
                                    return JSON.stringify(d);
                                }
                            }
                        });

                        $('#dtClaveGrupo tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('selected')) {
                                $(this).removeClass('selected');
                            }
                            else {
                                dtClaveGrupo.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });

                        $('#btnGuardarClaveGrupo').click(function () {
                            $('#ModalClaveGrupo').modal('hide');

                            var row = dtClaveGrupo.row('.selected').data();

                            if (row != null)
                            {
                                var id = row[0];
                                var nombre = row[1] + " " + row[2];

                                $("#CFDI_Grupo_Grupo").val(nombre);
                                $("#CFDI_Grupo_Id_cfdiGrupo").val(id);
                                $("#CFDI_Grupo_Grupo").blur();
                            }

                        });

                    }
                });
            });
            //fin Clave Grupo

            //inicio clave clase
            $('#btnClaveClase').on('click', function () {
                $("body").css("cursor", "progress");
                //var id_tipo_proveedor = document.getElementById("Proveedor_IDTipoProveedor").value;

                $.ajax({
                    url: "@Url.Content("~/Admin/CFDIDatosConceptos/ModalClaveClase")",
                    type: "POST",
                    success: function (data) {
                        $("body").css("cursor", "default");
                        $('#ContenidoClaveClase').html(data);
                        $('#ModalClaveClase').modal({ backdrop: 'static', keyboard: false });

                        var dtClaveClase = $('#dtClaveClase').DataTable({
                            language: {
                                "url": "@Url.Content("~/Content/json/Spanish.json")"
                            },
                            processing: true,
                            serverSide: true,
                            ordering: false,
                            columnDefs: [
                                {
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false
                                }
                            ],
                            ajax: {
                                type: "POST",
                                contentType: "application/json",
                                url: "@Url.Content("~/Admin/CFDIDatosConceptos/DataTableClaveClase") ",
                                data: function (d) {
                                    // note: d is created by datatable, the structure of d is the same with DataTableParameters model above
                                    //console.log(JSON.stringify(d));
                                    return JSON.stringify(d);
                                }
                            }
                        });

                        $('#dtClaveClase tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('selected')) {
                                $(this).removeClass('selected');
                            }
                            else {
                                dtClaveClase.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });

                        $('#btnGuardarClaveClase').click(function () {
                            $('#ModalClaveClase').modal('hide');

                            var row = dtClaveClase.row('.selected').data();

                            if (row != null)
                            {
                                var id = row[0];
                                var nombre = row[1] + " " + row[2];

                                $("#CFDI_Clase_clase").val(nombre);
                                $("#CFDI_Clase_Id_CfdiClase").val(id);
                                $("#CFDI_Clase_clase").blur();
                            }

                        });

                    }
                });
            });
            //fin clave clase

        });
    </script>
}
