
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{

}
@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Prueba </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="@Url.Action("","")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Nombre del Banco</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="1">
                                        <td> Ejemplo 1</td>
                                        <td style="text-align:center;">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a title="Editar" href="#" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                <a title="Eliminar" id="delete-1" data-hrefa="#" onClick="delete_row('1');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                    </a>
                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" href="#">
                                                                <i class="fa fa-edit"></i> Editar
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" id="delete-1" data-hrefa="#" onClick="delete_row('1');">
                                                                <i class="fa fa-trash-o"></i> Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="2">
                                        <td> Ejemplo 1</td>
                                        <td style="text-align:center;">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a title="Editar" href="#" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                <a title="Eliminar" id="delete-2" data-hrefa="#" onClick="delete_row('2');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                    </a>
                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" href="#">
                                                                <i class="fa fa-edit"></i> Editar
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" id="delete-2" data-hrefa="#" onClick="delete_row('2');">
                                                                <i class="fa fa-trash-o"></i> Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="3">
                                        <td> Ejemplo 1</td>
                                        <td style="text-align:center;">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a title="Editar" href="#" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                <a title="Eliminar" id="delete-3" data-hrefa="#" onClick="delete_row('3');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                    </a>
                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" href="#">
                                                                <i class="fa fa-edit"></i> Editar
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" id="delete-3" data-hrefa="#" onClick="delete_row('3');">
                                                                <i class="fa fa-trash-o"></i> Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="4">
                                        <td> Ejemplo 1</td>
                                        <td style="text-align:center;">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a title="Editar" href="#" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                <a title="Eliminar" id="delete-4" data-hrefa="#" onClick="delete_row('4');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                    </a>
                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" href="#">
                                                                <i class="fa fa-edit"></i> Editar
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" id="delete-4" data-hrefa="#" onClick="delete_row('4');">
                                                                <i class="fa fa-trash-o"></i> Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="5">
                                        <td> Ejemplo 1</td>
                                        <td style="text-align:center;">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a title="Editar" href="#" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                <a title="Eliminar" id="delete-5" data-hrefa="#" onClick="delete_row('5');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                    </a>
                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" href="#">
                                                                <i class="fa fa-edit"></i> Editar
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" id="delete-5" data-hrefa="#" onClick="delete_row('5');">
                                                                <i class="fa fa-trash-o"></i> Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    @*@foreach (var bancos in Model.listaBancos)
        {
            <tr id="@bancos.IDBanco">
                <td>@bancos.Descripcion</td>
                <td style="text-align:center;">
                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                        <a title="Editar" href="@Url.Action("Edit", "CatBanco", new { id = bancos.IDBanco})" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                        <a title="Eliminar" id="delete-@bancos.IDBanco" data-hrefa="@Url.Action("Delete", "CatBanco", new { id =  bancos.IDBanco })" onClick="delete_row('@bancos.IDBanco');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="btn-group">
                            <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                <i class="fa fa-cog"></i> <span class="caret"></span>
                            </a>
                            <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                <li>
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "CatBanco", new { id = bancos.IDBanco})">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                </li>
                                <li>
                                    <a role="menuitem" tabindex="-1" id="delete-@bancos.IDBanco" data-hrefa="@Url.Action("Delete", "CatBanco", new { id = bancos.IDBanco })" onClick="delete_row('@bancos.IDBanco');">
                                        <i class="fa fa-trash-o"></i> Eliminar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        });
    </script>
}


