@model FacturacionSAT.CSL.WEB.Models.ViewModel.IndexFacturaViewModel
@{
    ViewBag.Title = "Facturacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var message = TempData["message"] ?? string.Empty;
    var typemessage = TempData["typemessage"] ?? string.Empty;
}

<div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
    <h3></h3>
</div>
<div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
    <h3></h3>
</div>

<!--=====================Content======================-->
<section class="zonafact">
    <div class="title">
        <h1>Realice su facturación</h1>
    </div>
    <div class="container contenidoTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="factura-tab" data-toggle="tab" href="#factura" role="tab" aria-controls="factura" aria-selected="true">Facturar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ticketFactura-tab" data-toggle="tab" href="#ticketFactura" role="tab" aria-controls="ticketFactura" aria-selected="false">Consultar por Ticket</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="factura" role="tabpanel" aria-labelledby="factura-tab">
                <div class="formFacturar">
                    @using (Html.BeginForm("Facturacion", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="formTitle">
                            <h2>Facturar</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group-input">
                                    @Html.TextBoxFor(m => m.RFCReceptor, "", new { @class = "form-control factura", placeholder = "Ingrese su RFC" })
                                    @Html.ValidationMessage("RFCReceptor", new { @class = "text-danger" })
                                    @*<input type="text" name="membresia" class="form-control factura" placeholder="Ingrese su RFC">*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group-input">

                                    @*<input type="text" name="noTicket" class="form-control factura" placeholder="Ingrese su número de boleto">*@
                                    @Html.TextBoxFor(m => m.CodigoBarra, "", new { @class = "form-control factura", placeholder = "Ingrese su número de boleto" })
                                    @Html.ValidationMessage("CodigoBarra", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="actionButtons">
                            <a href="@Url.Action("Index", "Home")"><button type="button" class="">Cancelar</button></a>
                            <a href=""><button class="" type="submit">Continuar</button></a>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="ticketFactura" role="tabpanel" aria-labelledby="ticketFactura-tab">
                <div class="formFacturar">
                    @using (Html.BeginForm("Reimpresion", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off", @enctype = "multipart/form-data" }))
                    {
                        <div class="formTitle">
                            <h2>Consultar por número de boleto</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="group-input">
                                    @*<input type="text" name="noConsultaTicket" placeholder="Número de boleto" class="form-control factura">*@
                                    @Html.TextBoxFor(m => m.CodigoBarraReimpresion, "", new { @class = "form-control factura", placeholder = "Ingrese su número de boleto" })
                                    @Html.ValidationMessage("CodigoBarraReimpresion", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="actionButtons">
                            <a href="" @Url.Action("Index", "Home") ""><button type="button" class="">Cancelar</button></a>
                            <a href=""><button class="" type="submit">Continuar</button></a>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
</section>

<script>
        var message = '@message';
        var typemessage = '@typemessage';
</script>

@section script{
    <script>
        jQuery(document).ready(function () {
            if (typemessage == 1 || typemessage == 2) {
                alert("@message");
            }
        });
    </script>
}
