@model FacturacionSAT.CSL.WEB.Models.CFDIDatosEmisorModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Edit", "CFDIDatosEmisor", FormMethod.Post, new { id = "form-Emisor", @class = "form-horizontal", autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.IDCFDIDatosEmisor)
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                <div id="validation_summary" class="field_error"></div> //JS
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> CFDI DATOS EMISOR</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 col-xs-12 control-label text-center">Tipo Persona</label>
                                    <div class="col-md-12 col-xs-12">
                                        @Html.DropDownListFor(model => model.IDCFDITipoPersona, new SelectList(Model.ListaTipoPersona, "IDCFDITipoPersona", "TipoPersona"), new { id = "IDCFDITipoPersona", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IDCFDITipoPersona)
                                        <span class="help-block" style="margin-top: 10px;">Seleccione el tipo de persona del emisor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 col-xs-12 control-label text-center">Regimen Fiscal</label>
                                    <div class="col-md-12 col-xs-12">
                                        @Html.DropDownListFor(model => model.IDCFDIRegimenFiscalDetalle, new SelectList(Model.ListaRegimenFiscalDetalle, "IDCFDIRegimenFiscalDetalle", "C_RegimenFiscal"), new { id = "IDCFDIRegimenFiscalDetalle", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IDCFDIRegimenFiscalDetalle)
                                        <span class="help-block" style="margin-top: 10px;">Seleccione el regimen fiscal del emisor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Razón Social</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.RazonSocial, new { id = "RazonSocial", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RazonSocial)
                                        <span class="help-block">Ingrese la razón social del emisor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">RFC</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.RFC, new { id = "RFC", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RFC)
                                        <span class="help-block">Ingrese el RFC del emisor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Dirección</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Direccion, new { id = "Direccion", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Direccion)
                                        <span class="help-block">Ingrese la dirección del emisor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Código Postal</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CodigoPostal, new { id = "CodigoPostal", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CodigoPostal)
                                        <span class="help-block">Ingrese el código postal del emisor</span>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Correo</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Correo, new { id = "Correo", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Correo)
                                        <span class="help-block">Ingrese el correo del emisor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Password Correo Enviar</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                            @Html.TextBoxFor(model => model.Password, new { id = "Password", @type="password", @class = "form-control", autocomplete = "off" })
                                            <div class="input-group-addon">
                                                <span id="show_password" class="fa fa-eye-slash icon" />
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Password)
                                        <span class="help-block">Ingrese Contraseña del correo </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-left">Seleccionar .CER</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="file" class="fileinput btn-success" name="filename2" id="filename2" data-filename-placement="inside" title="Selecciones el archivo .CER" />
                                        </div>
                                    </div>
                                    <span class="help-block">- </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label  text-left">Seleccionar .KEY</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="file" class="fileinput btn-success" name="filename3" id="filename3" data-filename-placement="inside" title="Selecciones el archivo .KEY" />
                                        </div>
                                    </div>
                                    <span class="help-block">- </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Ingrese el Password .KEY</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                            @Html.TextBoxFor(model => model.PasswordArchivoKEY, new { id = "PasswordArchivoKEY", @type = "password", @class = "form-control", autocomplete = "off" })
                                            <div class="input-group-addon">
                                                <span id="show_password1" class="fa fa-eye-slash icon1" />
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PasswordArchivoKEY)
                                        <span class="help-block">Ingrese el Password del .KEY</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-left">Seleccionar imagen</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="file" class="fileinput btn-success" name="filename1" id="filename1" data-filename-placement="inside" title="Selecciones la imagen" />
                                        </div>
                                    </div>
                                    <span class="help-block">- </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">¿Es Predeterminado?</label>
                                    <div class="text-center col-md-9">
                                        @Html.CheckBoxFor(model => model.Predeterminado)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                            <a href="@Url.Action("Index","CFDIDatosEmisor")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                        </div>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/DatosEmisor.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            DatosEmisor.init(2);
        });
    </script>
}

