@model FacturacionSAT.CSL.WEB.Models.ViewModel.FacturacionViewModel
@{
    ViewBag.Title = "Nueva factura";
    SelectList ListaFormaPago = new SelectList(ViewBag.ListaFormaPago, "Id", "Value");
    SelectList ListaMetodoPago = new SelectList(ViewBag.ListaMetodoPago, "Id", "Value");
    SelectList ListaUsoCFDI = new SelectList(ViewBag.ListaUsoCFDI, "Id", "Value");
    SelectList ListaMoneda = new SelectList(ViewBag.ListaMoneda, "Id", "Value");




    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/themes/smoothness/jquery.ui.all.css" rel="stylesheet" />
}

@section featured
{
    <div class="col-md-12">
        <div class="panel panel-default tabs">
            <form action="@Url.Content("~/Facturacion/Save")" method="post">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#general" aria-controls="detalles" role="tab" data-toggle="tab">Datos generales</a>
                    </li>
                    <li role="presentation">
                        <a href="#conceptos" aria-controls="conceptos" role="tab" data-toggle="tab">Conceptos</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Generales</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="page-content-wrap">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(d => d.Serie)
                                            @Html.TextBoxFor(d => d.Serie, "", new { @class = "form-control" })

                                            @Html.LabelFor(d => d.Folio)
                                            @Html.TextBoxFor(d => d.Folio, "", new { @class = "form-control" })

                                            @Html.LabelFor(d => d.Fecha)
                                            @Html.TextBoxFor(d => d.Fecha, "", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(d => d.FormaDePago)
                                            @Html.DropDownListFor(d => d.FormaDePago, ListaFormaPago, new { @class = "form-control" })

                                            @Html.LabelFor(d => d.MetodoDePago)
                                            @Html.DropDownListFor(d => d.MetodoDePago, ListaMetodoPago, new { @class = "form-control" })

                                            @Html.LabelFor(d => d.UsoCFDI)
                                            @Html.DropDownListFor(d => d.UsoCFDI, ListaUsoCFDI, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(d => d.Moneda)
                                            @Html.DropDownListFor(d => d.Moneda, ListaMoneda, new { @class = "form-control" })

                                            @Html.LabelFor(d => d.RegimenFiscal)
                                            @Html.TextBoxFor(d => d.RegimenFiscal, "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <br />
                                    <h5>Datos del cliente</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(d => d.RFCReceptor)
                                            @Html.TextBoxFor(d => d.RFCReceptor, "", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(d => d.RazonSocial)
                                            @Html.TextBoxFor(d => d.RazonSocial, "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <a id="regresar" href="@Url.Action("Index", "AdminFactura")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="conceptos">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Generales</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="page-content-wrap">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Clave producto/servicio</label>
                                            @Html.TextBox("ClaveProducto", "", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Clave unidad de medida</label>
                                            @Html.TextBox("ClaveUnidad", "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="panel-footer">
                                <a id="regresar" href="@Url.Action("Index", "AdminFactura")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(d => d.ClavePrivada)
                        @Html.TextBoxFor(d => d.ClavePrivada, "", new { @class = "form-control" })
                    </div>
                    <div style="text-align:right " class="col-md-6">
                        <br />
                        <input type="submit" value="Timbrar" class="btn btn-primary" />
                    </div>
                </div>*@
</form>
        </div>
    </div>
}
@section script{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#ClaveProducto").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Content("~/Admin/Json/ProductoServicio")",
                        type: "POST",
                        dataType: "json",
                        data: { prodServBuscar: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Value, value: item.Value };
                            }))
                        }
                    })
                }
            })

            $("#ClaveUnidad").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Content("~/Admin/Json/UnidadMedida")",
                        type: "POST",
                        dataType: "json",
                        data: { unidadMedidaBuscar: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Value, value: item.Value };
                            }))
                        }
                    })
                }
            })
        })
    </script>
}
