@model FacturacionSAT.CSL.WEB.Models.ViewModel.IndexFacturaViewModel
@{
    ViewBag.Title = "Index";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@section css
{
}

@section featured
{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }

    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                @using (Html.BeginForm("Add", "Factura", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <!-- Form Name -->
                        <legend>FACTURACIÓN</legend>
                        <!-- Text input-->
                        <div class="control-group">
                            @Html.LabelFor(m => m.RFCReceptor)
                            @Html.TextBoxFor(m => m.RFCReceptor, "", new { @class = "form-control" })
                            @Html.ValidationMessage("RFCReceptor", new { @class = "text-danger" })
                        </div>
                        <!-- Text input-->
                        <div class="control-group">
                            @Html.LabelFor(m => m.CodigoBarra)
                            @Html.TextBoxFor(m => m.CodigoBarra, "", new { @class = "form-control" })
                            @Html.ValidationMessage("CodigoBarra", new { @class = "text-danger" })
                        </div>

                        <br />
                        <!-- Button -->
                        <div class="control-group">
                            <label class="control-label" for="send"></label>
                            <div class="controls">
                                <button id="send" name="send" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>

    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script{
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
        });
    </script>
}

